*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 200px;
}
